@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  body {
    @apply min-h-screen font-Poppins bg-bgSection dark:bg-bgSectionDark lg:bg-body-white lg:dark:bg-body-dark bg-cover bg-center bg-no-repeat;
  }
} */

@layer components {
  .btn-contact-form {
    @apply flex items-center justify-center h-12 w-full sm:max-w-[15rem] sm:mx-auto transition-all duration-200 border bg-transparent  border-orange-400 dark:border-orange-400 text-black dark:text-white text-lg rounded-md hover:bg-orange-400 hover:text-white hover:dark:bg-orange-400 hover:dark:text-black;
  }
  .btn {
    @apply inline-flex justify-center items-center w-full sm:max-w-[16rem] px-5 py-2 transition-all duration-200 border bg-transparent border-orange-400 dark:border-orange-400 text-black dark:text-white text-lg rounded-md hover:bg-orange-400 hover:text-white hover:dark:bg-orange-400 hover:dark:text-black;
  }
}
@layer utilities {
  .error::placeholder {
    @apply text-red-500 dark:text-red-400;
  }
  [type='checkbox'].error {
    @apply border-2  border-red-400 dark:border-red-400;
  }
  /* Form */
  [type='text']:focus,
  input:where(:not([type])):focus,
  [type='email']:focus,
  [type='url']:focus,
  [type='password']:focus,
  [type='number']:focus,
  [type='search']:focus,
  [type='tel']:focus,
  [multiple]:focus,
  textarea:focus {
    @apply shadow-none border-colorBorder border-b-4 border-b-orange-400 dark:border-b-orange-400 ring-0 outline-none appearance-none;
  }

  .clip-education {
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
  }
  .form-checkbox {
    @apply focus:ring-0 focus:ring-offset-0 border bg-white dark:bg-black border-orange-400 dark:border-orange-400 text-orange-400;
  }
  .form-checkbox:checked {
    @apply border-orange-400 dark:border-orange-400 bg-orange-400 dark:bg-black;
  }
}
.grecaptcha-badge {
  display: none;
}
